
@use "./variables" as*;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0a0f3e22;
    align-items: center;
  }

  .owly-Logo {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
    margin: 1rem;
    padding: 0;
    border-radius: $border-radius;
  }

  .home-title {
    width: 100vw;
    margin-bottom: 15% 15%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .hero-section {
    @include section-base;
    justify-content: center;
    
  }

  .hero-content {
    @include section-base;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin-bottom: 1rem;
  }

#search-input {
  @include button-base;
    width: 55rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 0.5rem;
    color: black;
}
#select-input {
  @include button-base;
    background-color: #172181c2;
    border: 5px;
    border-radius: $border-radius;
    font-size: 1rem;
    width: 15rem;
}
#search-button {
  @include button-base;
    width: fit-content;
    margin-right: 2rem;
    background-color: #172181c2;
    border: none;
    border-radius: $border-radius;
}

.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  border-top-color: #cb5c01;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.results-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color:#0a0f3e22;
  border-radius:$section-border-radius;
}

.toggle-placeholder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}


.toggle-button {
  @include button-base;
  Position: relative;
  margin: 1%;
  padding: 1%;
  color: rgba(255, 255, 255, 0.803);
  border: light-gray;
  width: 10rem;
  background-color: #e75333;
  font-weight: bold
  
}


.results-container.grid-view {
  display: flex;
  flex-direction: column;
  background-color: #0a0f3e22;
  border-radius: $section-border-radius;

  .books-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .book-result {
    background-color: $book-result-background;
    border-radius: $border-radius;
    color:#fffcfc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .h3 {
    @include book-preview-details;
  }

.no-results {
  justify-content: center;
  display: flex;
  font-weight: bold;
  color: red;
  font-size: 1.5rem;
  margin: 2rem;
}
  .results-container.grid-view.book-cover {
    width: 100%;
    height: auto;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
  }

  .book-details {
    @include button-base;
    background-color: $button-color;
    margin: 1rem;
  }
}


 .results-container.list-view {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .book-result {
    background-color: $book-result-background;
    color:#ffffff;
    border-radius: $border-radius;
    padding: 1rem;
    margin-bottom: 1.5rem;

    h3 {
      @include book-preview-details;
    }

    .book-content {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .book-left {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .results-container.list-view.book-cover {
          width: 120px;
          height: auto;
          border-radius: 5px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          margin-bottom: 1rem;
        }
    }

  
      .book-details {
        @include button-base;
        background-color: $button-color;
        margin: 1rem;
      }
    }

    .book-right {
      @include book-preview-details;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10rem;

      p {
        margin: 0.5rem 0;
      }
    }
  }
 }

.book-description {
  position: fixed;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #060e55b7;
  color:white;
  border: 3px solid #060e55bd;
  border-radius: $border-radius;
  font-size: 1rem;
  overflow-y: auto;
  height: 35rem;
  box-shadow: $box-shadow;
}

  .book-description .book-cover {
    display: flex;
    max-width: 400px;
    border-radius: $border-radius;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: $box-negative-shadow;
  }

.close-button {
    
  @include button-base;
    background-color: #f73e06;
    color: #f7f1f1;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    border-radius: $border-radius;
    font-weight: bold;
    border: 1px solid #ffffff;  
    box-shadow: $box-shadow;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
}

.contatti-footer-container {
  @include section-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #e75333;
  position: fixed;
  bottom: 0;
}

[aria-label]:hover::after {
  content: attr(aria-label);
  position: absolute;
  background: #333;
  color: white;
  font-weight: normal !important;
  padding: 1% 2%;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 1%;
  z-index: 100;
}

.toggle-button:hover::after {

  content: attr(aria-label);
  right: 0;
  top: calc(100% + 5px);
}


.modal {
  overlay: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0f3eb2;
  color:#ccc;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  height: auto;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content p {
  color: #388e3c; 
}

.modal-content.error p {
  color: #d32f2f; // colore messaggio di errore
}

#modal-close {
  @include button-base;
  background-color: #f73e06;
  color: #f7f1f1;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer;
  border-radius: $border-radius;
  font-weight: bold;
  border: 1px solid #ffffff;  
  box-shadow: $box-shadow;

}

.show-more-authors {
  
  background-color: #04ab6300;
  color: white;
  border-radius: $border-radius;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  height: fit-content;
}

.social-container {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 50vw;
}


.social-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
