
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #7ff8d8a4;
  }
  .owly-Logo {
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
    margin: 30px;
    padding: 0;
    border-radius: 5px;
  }
  .home-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }

  .hero-section {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: #46f0a789;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }

  .contatti-footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin-top: 20px;
    padding: 20px;
    background-color: #46f0a789;
    border-radius: 30px 30px 0px 0px;
    position: fixed;
    bottom: 0;
  }

#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
#select-input {
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
#search-button {
    width: 20%;
    padding: 10px;
    background-color: #46f0a7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }