
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #06ad36;
  }
  .owly-logo {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
    margin: 1%;
    padding: 1%;
  }

  