
@use "./variables" as*;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #3f2525;
    background-color: #7ff8d8a4;
    align-items: center;
  }

  .owly-Logo {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
    margin: 1rem;
    padding: 0;
    border-radius: $border-radius;
  }

  .home-title {
    width: 100vw;
    margin-bottom: 15% 15%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .hero-section {
    @include section-base;
    justify-content: center;
    
  }

  .hero-content {
    @include section-base;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 1%;
  }

  .contatti-footer-container {
    @include section-base;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    padding: 1rem;
    color: #03f98e;
    position: fixed;
    bottom: 0;
  }

#search-input {
  @include button-base;
    width: 95rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 0.5rem;
  }
#select-input {
  @include button-base;
    background-color: #04ab63;
    border: 5px;
    border-radius: $border-radius;
    font-size: 1rem;
    width: 15rem;
  }
#search-button {
  @include button-base;
    width: 15rem;
    margin-right: 2rem;
    background-color: #04ab63;
    border: none;
    border-radius: $border-radius;
  }
.results-container {
  width: 98vw;
  display: flex;
  flex-direction: column;
  background-color:#04ab63;
  border-radius:10px;
}

.book-result {
  width: 45rem;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: $border-radius;
  background-color: #75f5c4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);


}

.book-cover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
}

.book-details {
  width: 30%;
  height: auto;
  margin: 1%;
  padding: 1%;
  background-color: #04ab63;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.book-description {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: fit-content;
    padding: 5%;
    background-color: #75f5c4;
    border: 3px solid #060e55bd;
    border-radius: 5px;
    font-size: 1rem;
    overflow-y: auto;
    max-height: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


.close-button {
    background-color: #f73e06;
    color: #f7f1f1;
    width: 20%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    border-radius: $border-radius;
    color: #471212;
    font-weight: bold;
    border: 1px solid #ffffff;  
    box-shadow: $box-shadow;
    position: fixed;
    top: 10%;
    right: 5%;
}